<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<table>
    <tr>
        <th>ORDER_NUM</th>
        <th>QUANTITY</th>
        <th>SHIPPING_COST</th>
        <th>SALES_DATE</th>
        <th>DESCRIPCION</th>
        <th>COSTO</th>
        <th>EDITAR</th>
    </tr>
    <% pedidos.forEach(function(pedido) { %>
        <%productos.forEach(function (producto){
          if(producto.PRODUCT_ID === pedido.PRODUCT_ID){%>
        <tr>
            <td> <%= pedido.ORDER_NUM%> </td>
            <td> <%= pedido.QUANTITY%> </td>
            <td> <%= pedido.SHIPPING_COST%> </td>
            <td> <%= pedido.SALES_DATE%> </td>
            <td><%= producto.DESCRIPTION%></td>
            <td><%= producto.PURCHASE_COST%></td>
            <td><a href="/pedidos/<%=pedido.ORDER_NUM%>/editar">pedidos</a></td>
        </tr>
    <%  }
            });
                }); %>
</table>
<a href="/pedidos/<%=id%>/nuevo">Nuevo ...</a>
</body>
</html>